snippet isub "import subprocess"
import subprocess
endsnippet

snippet io "import os"
import os
endsnippet

snippet is "import sys"
import sys
endsnippet

snippet pr "print" w
print('$1')
endsnippet

snippet pf "%f" w
%f
endsnippet

snippet pd "%d" w
%d
endsnippet

snippet ps "%s" w
%s
endsnippet

